<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kuaförcüm &mdash; Bay,Bayan ve Araç</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}


  </head>
  <body>
  
  {% include 'header.html' %}
    <div class="site-wrap">

<!--
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">

            <div class="row">
              <div class="col-lg-6">

                <div class="d-block d-md-flex listing vertical">
                  <a href="#" class="img d-block" style="background-image: url('images/img_1.jpg')"></a>
                  <div class="lh-content">
                    <span class="category">Cars &amp; Vehicles</span>
                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                    <h3><a href="#">Red Luxury Car</a></h3>
                    <address>Don St, Brooklyn, New York</address>
                    <p class="mb-0">
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-secondary"></span>
                      <span class="review">(3 Reviews)</span>
                    </p>
                  </div>
                </div>

              </div>
              <div class="col-lg-6">

                <div class="d-block d-md-flex listing vertical">
                  <a href="#" class="img d-block" style="background-image: url('images/img_2.jpg')"></a>
                  <div class="lh-content">
                    <span class="category">Real Estate</span>
                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                    <h3><a href="#">House with Swimming Pool</a></h3>
                    <address>Don St, Brooklyn, New York</address>
                    <p class="mb-0">
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-secondary"></span>
                      <span class="review">(3 Reviews)</span>
                    </p>
                  </div>
                </div>

              </div>

              <div class="col-lg-6">

                <div class="d-block d-md-flex listing vertical">
                  <a href="#" class="img d-block" style="background-image: url('images/img_3.jpg')"></a>
                  <div class="lh-content">
                    <span class="category">Furniture</span>
                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                    <h3><a href="#">Wooden Chair &amp; Table</a></h3>
                    <address>Don St, Brooklyn, New York</address>
                    <p class="mb-0">
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-secondary"></span>
                      <span class="review">(3 Reviews)</span>
                    </p>
                  </div>
                </div>

              </div>
              <div class="col-lg-6">

                <div class="d-block d-md-flex listing vertical">
                  <a href="#" class="img d-block" style="background-image: url('images/img_4.jpg')"></a>
                  <div class="lh-content">
                    <span class="category">Electronics</span>
                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                    <h3><a href="#">iPhone X gray</a></h3>
                    <address>Don St, Brooklyn, New York</address>
                    <p class="mb-0">
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-secondary"></span>
                      <span class="review">(3 Reviews)</span>
                    </p>
                  </div>
                </div>

              </div>


              <div class="col-lg-6">

                <div class="d-block d-md-flex listing vertical">
                  <a href="#" class="img d-block" style="background-image: url('images/img_2.jpg')"></a>
                  <div class="lh-content">
                    <span class="category">Real Estate</span>
                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                    <h3><a href="#">House with Swimming Pool</a></h3>
                    <address>Don St, Brooklyn, New York</address>
                    <p class="mb-0">
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-secondary"></span>
                      <span class="review">(3 Reviews)</span>
                    </p>
                  </div>
                </div>

              </div>
              <div class="col-lg-6">

                <div class="d-block d-md-flex listing vertical">
                  <a href="#" class="img d-block" style="background-image: url('images/img_3.jpg')"></a>
                  <div class="lh-content">
                    <span class="category">Furniture</span>
                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                    <h3><a href="#">Wooden Chair &amp; Table</a></h3>
                    <address>Don St, Brooklyn, New York</address>
                    <p class="mb-0">
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-secondary"></span>
                      <span class="review">(3 Reviews)</span>
                    </p>
                  </div>
                </div>

              </div>


              <div class="col-lg-6">

                <div class="d-block d-md-flex listing vertical">
                  <a href="#" class="img d-block" style="background-image: url('images/img_1.jpg')"></a>
                  <div class="lh-content">
                    <span class="category">Cars &amp; Vehicles</span>
                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                    <h3><a href="#">Red Luxury Car</a></h3>
                    <address>Don St, Brooklyn, New York</address>
                    <p class="mb-0">
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-secondary"></span>
                      <span class="review">(3 Reviews)</span>
                    </p>
                  </div>
                </div>

              </div>
              <div class="col-lg-6">

                <div class="d-block d-md-flex listing vertical">
                  <a href="#" class="img d-block" style="background-image: url('images/img_2.jpg')"></a>
                  <div class="lh-content">
                    <span class="category">Real Estate</span>
                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                    <h3><a href="#">House with Swimming Pool</a></h3>
                    <address>Don St, Brooklyn, New York</address>
                    <p class="mb-0">
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-secondary"></span>
                      <span class="review">(3 Reviews)</span>
                    </p>
                  </div>
                </div>

              </div>

              <div class="col-lg-6">

                <div class="d-block d-md-flex listing vertical">
                  <a href="#" class="img d-block" style="background-image: url('images/img_3.jpg')"></a>
                  <div class="lh-content">
                    <span class="category">Furniture</span>
                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                    <h3><a href="#">Wooden Chair &amp; Table</a></h3>
                    <address>Don St, Brooklyn, New York</address>
                    <p class="mb-0">
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-secondary"></span>
                      <span class="review">(3 Reviews)</span>
                    </p>
                  </div>
                </div>

              </div>
              <div class="col-lg-6">

                <div class="d-block d-md-flex listing vertical">
                  <a href="#" class="img d-block" style="background-image: url('images/img_4.jpg')"></a>
                  <div class="lh-content">
                    <span class="category">Electronics</span>
                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                    <h3><a href="#">iPhone X gray</a></h3>
                    <address>Don St, Brooklyn, New York</address>
                    <p class="mb-0">
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-warning"></span>
                      <span class="icon-star text-secondary"></span>
                      <span class="review">(3 Reviews)</span>
                    </p>
                  </div>
                </div>

              </div>




            </div>

            <div class="col-12 mt-5 text-center">
              <div class="custom-pagination">
                <span>1</span>
                <a href="#">2</a>
                <a href="#">3</a>
                <span class="more-page">...</span>
                <a href="#">10</a>
              </div>
            </div>

          </div>
          <div class="col-lg-3 ml-auto">

            <div class="mb-5">
              <h3 class="h5 text-black mb-3">Kuaför Arayın</h3>
              <form action="#" method="post">
                <div class="form-group">
                  <input type="text" placeholder="What are you looking for?" class="form-control">
                </div>
                <div class="form-group">
                  <div class="select-wrap">
                      <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                      <select class="form-control" name="" id="">
                        <option value="">All Categories</option>
                        <option value="" selected="">Real Estate</option>
                        <option value="">Books &amp;  Magazines</option>
                        <option value="">Furniture</option>
                        <option value="">Electronics</option>
                        <option value="">Cars &amp; Vehicles</option>
                        <option value="">Others</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                  <div class="wrap-icon">
                    <span class="icon icon-room"></span>
                    <input type="text" placeholder="Location" class="form-control">
                  </div>
                </div>
              </form>
            </div>

            <div class="mb-5">
              <form action="#" method="post">
                <div class="form-group">
                  <p>Radius around selected destination</p>
                </div>
                <div class="form-group">
                  <input type="range" min="0" max="100" value="20" data-rangeslider>
                </div>
              </form>
            </div>

            <div class="mb-5">
              <form action="#" method="post">
                <div class="form-group">
                  <p>Category 'Real Estate' is selected</p>
                  <p>More filters</p>
                </div>
                <div class="form-group">
                  <ul class="list-unstyled">
                    <li>
                      <label for="option1">
                        <input type="checkbox" id="option1">
                        Residential
                      </label>
                    </li>
                    <li>
                      <label for="option2">
                        <input type="checkbox" id="option2">
                        Commercial
                      </label>
                    </li>
                    <li>
                      <label for="option3">
                        <input type="checkbox" id="option3">
                        Industrial
                      </label>
                    </li>
                    <li>
                      <label for="option4">
                        <input type="checkbox" id="option4">
                        Land
                      </label>
                    </li>
                  </ul>
                </div>
              </form>
            </div>

            <div class="mb-5">
              <h3 class="h6 mb-3">More Info</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti voluptatem placeat facilis, reprehenderit eius officiis.</p>
            </div>

          </div>

        </div>
      </div>
    </div>
  -->

  <div class="site-section bg-light">
      <div class="container" style="max-width: 1800px; margin-top: 70px;">
        <div class="row mb-5">
          <div class="col-md-10 text-left border-primary">
              <h2 class="font-weight-light text-primary">Kuaförler</h2>
              <hr>
              <div class="form-group row">
                <div class="col-md-4">
                    <input type="text" placeholder="Kuaförünüzü İsmi ile aratın" class="form-control">
                </div>
                <div class="wrap-icon col-md-3" style="padding-right:0px;">
                    <span class="icon icon-room"></span>
                    <input type="text" placeholder="İl Seçin" class="form-control">
                  </div>
                  <div class="select-wrap col-md-3" style="padding-right: 0px;">
                      <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                      <select class="form-control" name="" id="">
                        <option value="">Kategoriler</option>
                        <option value="" selected="">Real Estate</option>
                        <option value="">Books &amp;  Magazines</option>
                        <option value="">Furniture</option>
                        <option value="">Electronics</option>
                        <option value="">Cars &amp; Vehicles</option>
                        <option value="">Others</option>
                      </select>
                    </div>
                    <div class="col-md-2 ml-auto text-right">
                        <input type="submit" class="btn btn-primary btn-block rounded" value="Ara">
                      </div>
                </div>
                <hr>

          </div>
        </div>

        <div class="row mt-5">
          <div class="col-md-7" style="overflow: scroll; height: 600px;" >
             {% for coiffeur in coiffeurList %}
            <div class="d-block d-md-flex listing">
              <a href="{{ coiffeur.get_absolute_url }}" class="img d-block" style="background-image: url({% static 'images/deneme.jpg' %})"></a>
              <div class="lh-content">

                <h2><a href="{{ coiffeur.get_absolute_url }}">{{ coiffeur.business_name }}</a></h2>
                <address>{{ coiffeur.address }}</address>
                  <span class="category">{{ coiffeur.Location }}</span>
              </div>
            </div>
      {% endfor %}

           </div>
           <div class="col-md-5 map-box mx-0 px-0">
            <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>
          </div>
        </div>
      </div>
    </div>
    <!--
    <div class="site-section bg-white">
      <div class="container">

        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center border-primary">
            <h2 class="font-weight-light text-primary">Testimonials</h2>
          </div>
        </div>

        <div class="slide-one-item home-slider owl-carousel">
          <div>
            <div class="testimonial">
              <figure class="mb-4">
                <img src="images/person_3.jpg" alt="Image" class="img-fluid mb-3">
                <p>John Smith</p>
              </figure>
              <blockquote>
                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
              </blockquote>
            </div>
          </div>
          <div>
            <div class="testimonial">
              <figure class="mb-4">
                <img src="images/person_2.jpg" alt="Image" class="img-fluid mb-3">
                <p>Christine Aguilar</p>
              </figure>
              <blockquote>
                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
              </blockquote>
            </div>
          </div>

          <div>
            <div class="testimonial">
              <figure class="mb-4">
                <img src="images/person_4.jpg" alt="Image" class="img-fluid mb-3">
                <p>Robert Spears</p>
              </figure>
              <blockquote>
                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
              </blockquote>
            </div>
          </div>

          <div>
            <div class="testimonial">
              <figure class="mb-4">
                <img src="images/person_5.jpg" alt="Image" class="img-fluid mb-3">
                <p>Bruce Rogers</p>
              </figure>
              <blockquote>
                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
              </blockquote>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="newsletter bg-primary py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <h2>Newsletter</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
          <div class="col-md-6">

            <form class="d-flex">
              <input type="text" class="form-control" placeholder="Email">
              <input type="submit" value="Subscribe" class="btn btn-white">
            </form>
          </div>
        </div>
      </div>
    </div>
-->
           {% include 'footer.html' %}

  </div>

  </body>
</html>